*{
  
    margin: 0px;
    font-family: Inter;
  } 

  #Menusuperior{
    background-color: #303030;
}
 #Title{
color:  #FFFFFF;
font-family: Inter;
padding-top: 180px;
padding-left: 62px;
font-family: Inter;
font-size: 60px;
font-weight: 600;
line-height: 72px;
letter-spacing: -0.025em;
text-align: left;
}
#body{
  color:  #FFFFFF;
  width: 1024px;
  height: 28px;
 margin-top: 28px;
 margin-left: 62px;
 font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 28px;
text-align: left;
padding-bottom: 100px;
}
.numbers-section {
  display: flex; 
  justify-content: space-around;
  background-color: #F9F9F9;
  padding: 68px;
}

.number-item {
  text-align: left;
  margin-top: 15px;
}

.number {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.number-item p {
  font-size: 18px;
  color: #000000;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.image{
 padding-top: 3%;
}
.text-content {
  flex: 1;
  text-align: justify;
  font-family: Inter;
font-size: 22px;


}

.text-content h2 {
  font-family: Inter;
font-size: 35px;
margin-bottom: 60px;
}

.text-content p {
  line-height: 1.5;
}

.seta{
  margin-top: 55%;
  cursor: pointer;
 }

.seta:hover{ transform:translateY(-7px) ;
transition: 0,05;
}

#tituloform{
  text-align: center;
  padding-top: 5%;
  margin: 25px;
  color:#FFFFFF;
}

#form{
  text-align: center;
  background-color: #303030;
}

input{
  width: 413px;
  height:53px;
  background-color: #EAECE5;
  margin: 15px;
  border: 0px;
  border-radius: 8px;
  padding-left: 10px;
  }

button{
  width:335px;
  color: #FFFFFF;
  height:53px;
  background-color:#f78a06;
  border-radius: 8px;
font-weight: bolder;
cursor: pointer;
margin-bottom: 50px;
}

button:hover{
  background-color:#f78a06;
  color: alicebluesrgb;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px #f78a06;
}